<div class="row">
  <div class="col-sm-12">
    <table st-table="displayedEvents" st-safe-src="events" class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-xs-1 text-center sortable" st-sort="subcategory_id"><i class="fa fa-list"></i></th>
          <th class="col-sm-5 hidden-xs">Descripción</th>
          <th class="col-xs-3">Ubicación</th>
          <th class="text-center">Mapa</th>
          <th class="col-xs-2 sortable text-center" st-sort="created_at" st-sort-default="reverse">Fecha</th>
          <th class="text-center col-xs-1">Acciones</th>
        </tr>
        <tr>
          <th>
            <select st-search="subcategory_id" class="form-control">
              <option value="">Todas</option>
              <option ng-repeat="row in subcategories"
                      value="{{row.id}}">{{row.name}}</option>
            </select>
          </th>
          <th colspan="6"><input st-search="" class="form-control" placeholder="búsqueda global ..." type="text"/></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in displayedEvents" class="{{progressStatuses[event.progress].class}}">
          <td class="text-center">
            <i class="fa fa-{{subcategories[event.subcategory_id - 1].icon}}"
               style="color: {{subcategories[event.subcategory_id - 1].color}}"></i>
          </td>
          <td class="hidden-xs">{{event.description}}</td>
          <td>{{event.address}}</td>
          <td class="text-center">
            <a ng-href="http://www.terremotoecuador.com/#reporte/{{event.id}}" target="_blank">
              <i class="fa fa-map-marker"></i>
            </a>
          </td>
          <td class="no-wrap">{{event.created_at}}</td>
          <td  class="text-center action-buttons no-wrap">
            <!-- <a href="" class="blue"><i class="fa fa-search-plus"></i></a> -->
            <a href=""
               data-toggle="modal"
               data-target="#event_edit_modal"
               ng-click="editEventModal(event)"
               class="green"><i class="fa fa-pencil"></i></a>
            <a href=""
               click-confirm="confirmDeleteEvent(event); deleteEvent()"
               confirm-text="¿Estás seguro que deseas eliminar este evento? :<br>
                             <br><b>{{event.description}}</b><br>
                             <br>Esta opción es <span class='red'><b>irreversible</b></span>,
                             aún no hemos implementado el soft-delete. Asegúrate de borrar solo eventos
                             que no sean relevantes."
               class="red"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="6" class="text-center">
            <div st-items-by-page="10" st-pagination="" st-template="views/custom_pagination.html"></div>
          </td>
        </tr>
      </tfoot>

    </table>
  </div>
</div>

<ng-include src="'views/event_edit_modal.html'"></ng-include>
