<div class="row">
  <div class="col-sm-12">
    <table st-table="rowCollection" class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Descripción</th>
          <th>Ubicación</th>
          <th class="text-center">Mapa</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in rowCollection">
          <td class="text-center">
            <i class="fa fa-{{subCategories[row.subcategory_id].icon}} {{subCategories[row.subcategory_id].color}}"></i>
          </td>
          <td>{{row.description}}</td>
          <td>{{row.address}}</td>
          <td class="text-center">
            <a href="https://www.google.com/maps/place/{{row.latitude}},{{row.longitud}}/@{{row.latitude}},{{row.longitud}},10z" target="_blank">
              <i class="fa fa-map green"></i>
            </a>
          </td>
          <td>{{row.created_at}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
